

//COLORS

$light: rgb(255, 255, 255);
$dark: rgb(51, 51, 51);
$ukrainian-flag-blue: rgb(0, 87, 183);
$ukrainian-flag-yellow: rgb(255, 215, 0);

$gray-green: #547873;


//SPACING

$header-size: 9.6rem;