.btn {
  position: relative;
  padding: 1.2rem 4rem;
  font-size: 1.2rem;
  color: #228be6;
  letter-spacing: 1.1rem;
  text-transform: uppercase;
  text-decoration: none;
  transition: all 500ms cubic-bezier(0.77, 0, 0.175, 1);
  cursor: pointer;
  user-select: none;
  width: 40rem;
  border: 1px solid #228be6;
  border-left: 0;
  border-right: 0;
}

.btn:before, .btn:after {
  content: '';
  position: absolute;
  transition: inherit;
  z-index: -1;
}

.btn:hover {
  color: rgb(255, 215, 0);
  transition-delay: .5s;
}

.btn:hover:before {
  transition-delay: 0s;
}

.btn:hover:after {
  background: #228be6;
  transition-delay: .35s;
}

.from-left:before,
.from-left:after {
  top: 0;
  width: 0;
  height: 100%;
}

.from-left:before {
  right: 0;
  border-top: 2px solid rgb(255, 215, 0);
}

.from-left:after {
  left: 0;
}

.from-left:hover:before,
.from-left:hover:after {
  width: 100%;
}

.hide {
  visibility: hidden;
}

.show {
  visibility: visible;
}

.btns-control-container {
  position: absolute;
  left: 1rem;
  bottom: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0.8rem;

  > div {
    position: relative;
    width: 2.4rem;
    height: 2.4rem;
  }

  button {
    position: absolute;
    border: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0);
  }
}