@import 'variables';

h1 {
  margin: 0;
  text-align: center;
  color: $light;
  font-weight: 600;
  font-size: 2rem;
  letter-spacing: 1rem;
  text-transform: uppercase;
}

.big-h1 {
  font-size: 5rem;
}

h2 {
  text-align: center;
  color: $gray-green;
  font-weight: 400;
  font-size: 2rem;
  letter-spacing: 1rem;
  text-transform: uppercase;
}

h3 {
  text-align: center;
  color: $dark;
  font-weight: 400;
  font-size: 1rem;
  letter-spacing: 0.4rem;
  text-transform: uppercase;
}

.small-h3 {
  font-size: 0.9rem;
  letter-spacing: 0.3rem;
}

p {
  font-size: 2.4rem;
  line-height: 3.2rem;
}