
<header class="header">
    <nav class="main-nav">
        <ul class="main-nav-list">
            <li><a class="main-nav-link" href="#about">About Us</a></li>
            <li><a class="main-nav-link" href="#current_fundraising">Current Fundraising</a></li>
            <li class="display-none"><a href="#">
                <img alt="Marikate Foundation Logo" class="logo" src="media/logo/01_Marikate_Polska.png"/>
            </a></li>
            <li><a class="main-nav-link" href="#our_partners">Our Partners</a></li>
            <li><a class="main-nav-link important-link" href="#donate">Donate</a></li>
        </ul>
    </nav>
    <nav class="hamburger-main-nav">
        <a href="#">
            <img alt="Marikate Foundation Logo" class="logo" src="media/logo/01_Marikate_Polska.png"/>
        </a>
        <button class="btn-mobile-nav">
            <ion-icon class="icon-mobile-nav" name="menu-outline"></ion-icon>
            <ion-icon class="icon-mobile-nav" name="close-outline"></ion-icon>
        </button>
    </nav>
</header>
