<section class="hero">
    <div class="content">
        <h1 class="item-p white big-h1">Marikate Poland Foundation</h1>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eveniet sint ut id nulla! Ut laborum
            laboriosam culpa perferendis porro numquam, eveniet eos magni distinctio similique dolore velit autem.
            Eos nemo aperiam consectetur a optio distinctio? Odio!
        </p>
    </div>
    <div class="video-container">
        <video autoplay class="background-video" loop muted>
            <source src="../media/video/header-video.mp4" type="video/mp4">
            Your browser does not support the video tag.
        </video>
        <div class="btns-control-container">
            <div>
                <button class="play hide">
                    <img alt="Play" src="../media/img/btns/png/play.png">
                </button>
                <button class="pause show">
                    <img alt="Pause" src="../media/img/btns/png/pause.png">
                </button>
            </div>
            <div>
                <button class="switchOff hide">
                    <img alt="Play" src="../media/img/btns/png/switchOff.png">
                </button>
                <button class="switchOn show">
                    <img alt="Pause" src="../media/img/btns/png/switchOn.png">
                </button>
            </div>

        </div>
    </div>
</section>